# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.slnx.sqlite
*.slnx.sqlite-*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Database files
*.mdf
*.ldf
*.db
*.db-shm
*.db-wal

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# User secrets
appsettings.Development.json
**/appsettings.Development.json

# Node modules
node_modules/
.env
npm-debug.log

# Package files
*.nupkg
*.snupkg
packages/

# Rider
.idea/

# VS Code
.vscode/

# Mac
.DS_Store
