<div class="container" style="padding-top: 5rem; text-align: center;">
    <h1 style="font-size: 3rem; font-weight: 800;">Welcome to HIS!</h1>
    <p class="muted" style="font-size: 1.25rem;">Hospital Information System.</p>
    <hr style="max-width: 100px; margin: 2rem auto;">
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
</div>